@{
    ViewData["Title"] = "Home";
}

<div class="banner">
    <div class="tagline">
        <h1>Be Open</h1>
        <p>Be updated, keep you and others informative and relevant. Reach the world through Deblog.</p>
        <a href="/" class="bigbtn">Let's Go</a>
    </div>
</div>
<div class="container">
    <div class="trending">
        <h4><i class="fal fa-megaphone"></i> Find what's going on Deblog</h4>
        <div class="trends">
            <div class="trendblog">
                <div class="author">
                    <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fHww&w=1000&q=80"
                         alt="">
                    <span>John Doe</span>
                </div>
                <div class="title">
                    How playing sports prepared me for a creative career in advertising reative
                    career in advertising
                </div>
                <div class="otherdata">
                    <div>10 Jun</div>
                    <span>·</span>
                    <div>5 min read</div>
                </div>
                <span class="numbering">{1}</span>
            </div>
        </div>
    </div>


    <div class="readmore">
        <div class="trendingtopics">
            <h4><i class="fal fa-hands-helping"></i> You want it, you get it.</h4>
            <div class="topics">
            </div>
            <a href="#" class="linktopics">Find more topics</a>
        </div>

        <div class="moreblogs">
            <h4><i class="fal fa-stars"> </i> Read recent Blogs</h4>
            <div class="blogs">
                <div class="blog">
                    <div class="trendblog">
                        <div class="author">
                            <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fHww&w=1000&q=80"
                                 alt="">
                            <span>John Doe</span>
                        </div>
                        <div class="title">
                            How playing sports prepared me for a creative career in advertising
                            reative
                            career in advertising
                        </div>
                        <div class="otherdata">
                            <div>10 Jun</div>
                            <span>·</span>
                            <div>5 min read</div>
                            <div></div>
                            <div></div>
                            <div><i class="fal fa-bookmark"></i></div>
                        </div>
                    </div>
                    <img class="mse blogimg"
                         src="https://content.jdmagicbox.com/comp/hathras/h9/9999p5722.5722.110202094849.h8h9/catalogue/varshney-coffie-house-sasni-hathras-coffee-shops-39bmd72.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
