@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
    --primary-bg-color: #d8dee9;
    --secondary-bg-color: #e5e9f0;
    --card-bg-color: #eceff4;
    --primary-text-color: #262729;
    --secondary-text-color: #151517;
    --card-text-color: #29292b;
    --dimmed-text-color: #29292b65;
    --dimmed-bg-color: #d8dee9b7;
    --accent-color: #79a866;
    --text-accent-color: #000732;
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: rgb(191, 97, 106);
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    --mob-nev: 60px;
    --mob-brand-img: 30px;
    --mob-nev-ul-marginleft: 0px;
    --mob-nev-ul-margin: auto;
    --mob-nev-ul-h3: none;
    --mob-nev-ul-a-marginleft: 7px;
    --mob-nev-ul-a-span: none;
    --mob-nev-ul-i-marginright: 0px;
    --mob-hrs: block;
}

@font-face {
    font-family: Allenoire;
    src: url("/css/Allenoire Font.otf") format("opentype");
    color: var(--text-accent-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-accent-color);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
}

.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

    .container .halfdiv {
        height: 100%;
    }

.sidebanner {
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.205) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .banner img {
        width: 50%;
        height: auto;
    }

.branding {
    text-decoration: none;
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
}

    .branding img {
        width: 50px;
        height: auto;
    }

    .branding span {
        margin-left: 10px;
        margin-top: 7px;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Allenoire";
    }

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formbox {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

    .formbox h3 {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

.inpbox {
    display: flex;
    align-items: center;
    border: 1px var(--dimmed-text-color) solid;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    text-align: center;
}

    .inpbox i {
        z-index: 10;
    }

    .inpbox input {
        background-color: transparent;
        outline: none;
        border: none;
        margin-left: 10px;
        width: 250px;
        font-size: 17px;
        z-index: 10;
    }

    .inpbox::after {
        content: "";
        opacity: 0.7;
        position: absolute;
        border-radius: 12px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: -4px;
        left: -4px;
    }

    .inpbox:focus-within:after {
        border: 3px var(--accent-color) solid;
    }

    .inpbox input::placeholder {
        color: var(--dimmed-text-color);
        font-size: 17px;
    }

input:focus,
input:active {
    border: none;
    outline: none;
}

.inpbox2 {
    width: 100%;
    border: 2px solid var(--accent-color);
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

    .inpbox2 i {
        margin-right: 10px;
    }

.fp {
    border: 2px solid var(--nord12);
}

.input-group {
    margin-left: 10px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.checkbox {
    display: inline-block;
    position: relative;
    padding: 20px 0 20px 30px;
    font-weight: bold;
    cursor: pointer;
}

.text {
    display: block;
    padding-top: 5px;
    transition: transform var(--duration) var(--easing);
    user-select: none;
    font-weight: 400;
}

.checkbox:active .text {
    transform: scale(0.9);
}

.checkbox .icon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

    .checkbox .icon::before,
    .checkbox .icon::after {
        content: "";
        display: block;
        position: absolute;
    }

    .checkbox .icon::before {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border: 2px solid currentColor;
        background: transparent;
        transition: background var(--duration) var(--easing);
    }

    .checkbox .icon::after {
        border: 3.5px solid transparent;
        transition: height var(--duration) ease-in, width var(--duration) ease-out var(--duration), border-color var(--easing) var(--duration) var(--duration);
        width: 0px;
        height: 0px;
        bottom: 2px;
        left: 6px;
        color: var(--accent-color);
        border-radius: 4px;
        transform-origin: bottom left;
        /*   transform: rotate(45deg); */
    }

#checkbox:checked + .checkbox .icon::after {
    width: 2px;
    height: 8px;
    border-right-color: currentColor;
    border-bottom-color: currentColor;
    transition: width var(--duration) ease-in, height var(--duration) ease-out var(--duration), border-color var(--easing) var(--duration);
}

#checkbox:checked + .checkbox .icon::before {
    background: var(--primary);
}

.valbox {
    padding: 10px;
    border-radius: 10px;
}

    .valbox * {
        color: #ff4747d3;
    }

.inpbox1 {
    display: flex;
    align-items: center;
    /* border-radius: 10px; */
    margin: 10px 0;
}

    .inpbox1 .button {
        background: var(--accent-color);
        color: var(--text-accent-color);
        border: none;
        font-weight: 600;
        width: 100%;
        padding: 7px 15px;
        /* background-color: transparent; */
        border: 1px rgba(255, 255, 255, 0.386) solid;
        outline: none;
        border: none;
        font-size: 17px;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.4s ease;
    }

.inpbox img {
    width: 20px;
    height: auto;
}

.inpbox1 .button:hover {
    background-color: #b9d79e;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebanner {
        display: none;
    }

    .branding {
        left: 20px;
        top: 20px;
    }
}

@media only screen and (max-width: 300px) {
    .inpbox input {
        width: 180px;
    }

    .inpbox1 {
        width: 238px;
    }
}
