@model Blog

@{
	ViewData["Title"] = "BlogEditor";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>BlogEditor</h1>

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>

			<input asp-for="BlogAuthor" type="hidden">
			<input asp-for=Id type="hidden">
			<input asp-for=BlogStatus type="hidden">

			<div class="form-group">
				<label asp-for="BlogTitle" class="control-label"></label>
				<input asp-for="BlogTitle" class="form-control" />
				<span asp-validation-for="BlogTitle" class="text-danger"></span>
			</div>

			<img src="@Model.BlogImageUrl" width="200px">



			<div class="form-group">
				<label asp-for="BlogImageUrl" class="control-label"></label>
				<input asp-for="BlogImageUrl" class="form-control" />
				<span asp-validation-for="BlogImageUrl" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="BlogType" class="control-label"></label>
				<select class="form-select" asp-for="BlogType">
					<option valur="public" selected>Public</option>
					<option value="private">Private</option>
				</select>
				<span asp-validation-for="BlogType" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="BlogTopic" class="control-label"></label>
				<input asp-for="BlogTopic" class="form-control" />
				<span asp-validation-for="BlogTopic" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="BlogReadtime" class="control-label"></label>
				<input asp-for="BlogReadtime" class="form-control" />
				<span asp-validation-for="BlogReadtime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BlogBody" class="control-label"></label>
				<textarea asp-for="BlogBody" class="form-control"></textarea>
				<span asp-validation-for="BlogBody" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
				@if (Model.BlogStatus == false)
				{
					<button type="submit" formaction="/Blog/Publish">Publish</button>
					<a asp-action="RemoveBlog" asp-controller="Blog" asp-route-id=@Model.Id >Remove This Blog</a>
				}
				else
				{
					<button type="submit" formaction="/Blog/Unpublish">Archive</button>
				}

			</div>
		</form>
	</div>
</div>