@model BlogContent

@{
	ViewData["Title"] = "BlogWriter";
	Layout = null;
}
<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
	<link rel='stylesheet' href='https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css'>
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js'>
	<link rel='stylesheet'
		  href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css'>
	<link rel="stylesheet" href="/css/blogwriter.css">



	<title>BlogWriter</title>
</head>

<body>
	<div class="navbar">
		<div class="save navitem"><i class="fa-light fa-check"></i><span>Save</span></div>
		<div class="tools navitem"><i class="fa-light fa-wrench"></i><span>Save</span></div>
		<div class="others">
			<div class="Settings navitem"><i class="fa-light fa-gear"></i><span>Settings</span></div>
			<div class="Theme navitem"><i class="fa-light fa-fill-drip"></i><span>Save</span></div>
			<div class="Publish navitem"><i class="fa-light fa-paper-plane"></i><span>Publish</span></div>
		</div>
	</div>
	<div class="metadata">
		<div class="topnav">
			<a href="#"><i class="fa-light fa-house-chimney"></i></a>
			<a href="#"><i class="fa-light fa-eye"></i></a>
			<a href="#"><i class="fa-light fa-file-lines"></i></a>
		</div>
		<div class="bottomnav">
			<a href="#"><i class="fa-light fa-square-question"></i></a>
			<a href="#"><i class="fa-light fa-user"></i></a>
		</div>
	</div>

	<div class="container">
		<div class="editor element" id="editor">
			@Model.BlogBody
		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js'></script>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="/js/blogwriter.js"></script>
</body>

</html>

