<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/logoWithbg.png" type="image/png">
	<link rel="stylesheet" href="/css/auth.css">
	<title>@ViewData["Title"] - Deblog</title>
</head>
<body>
	@RenderBody()

	<script src="/js/fontawasome5.15-pro.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>