@using Microsoft.AspNetCore.Identity
@using Deblog.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
	<a onclick="logout()"><span class="danger"><i class="fal fa-sign-out"></i><span class="mse"> Sign Out</span></span></a>
	<a asp-action="Index" asp-controller="User" title="Manage" class="nav-active"><i class="far fa-user"></i> <span class="mse">@UserManager.GetUserName(User)</span></a>


	<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<button id="logout" type="submit" class="nav-link btn btn-link text-dark" hidden>Logout</button>
	</form>

}
else
{
	<a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fal fa-sign-in-alt"></i><span class="mse"> Sign In</span></a>
	<a id="register" asp-area="Identity" asp-page="/Account/Register" class="nav-active">Get Started</a>

}


<script>
	function logout() {
		document.getElementById("logout").click();
	}

</script>
